- Favor readability and simplicity over everything else
- Favor domain driven design for code and folder structure
- In complex react components, use custom hooks to extract features
- In typescript, define all interfaces with good naming, don't define function return values
- Use comments sparingly, and only to explain the WHY in complex code, not the what
- I am a senior engineer, limit explanations
- When considering various options, start with the options and only at the end provide a suggestion
- If you need more context, ask
- Before introducing circular dependencies, ask
